@model IEnumerable<Test10.Models.Poruka>
@inject UserManager<ApplicationUser> UserManager

<style>
    button.accordion {
        cursor: pointer;
        border: none;
        outline: none;
        width: 80%;
        text-align: left;
        background-color: papayawhip;
        color: black;
        padding: 8px;
        margin: 4px 0;
        border-radius: 4px;
        transition: 0.3s;
        font-size: medium;
    }

    button.accordion:hover {
        background-color: rgba(255,255,255,0.3);
    }

        button.accordion.active {
            background-color: #e65c00;
            color: white;
            border-radius: 4px 4px 0 0;
            margin: 4px 0 0;
        }

    div.panel {
        background-color: #ffe0cc;
        color: #000000;
        border-radius: 0 0 4px 4px;
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transition: 0.3s;
        padding: 0 8px;
        margin: 2px 0 4px;
        width:80%;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
            padding: 8px;
            margin: 0;
        }

    body {
        background-image: url(/images/ball-court-design-209977123.jpg);
        background-size:cover;

    }
    .gumbic{
        font-size:13px;
    }

</style>

@{
    ViewData["Title"] = "PrimljenePoruke";
}


<h2 style="color:white"><b>Dolazne poruke</b></h2>

@foreach (var item in Model){

<button class="accordion">
    <b>
        @Html.DisplayFor(modelItem => item.IgracPosiljatelj.Ime)
        @Html.DisplayFor(modelItem => item.IgracPosiljatelj.Prezime) :
    </b>
    @Html.DisplayFor(modelItem => item.NaslovPoruke) 
</button>
<div class="panel">
    @Html.DisplayFor(modelItem => item.TekstPoruke)
    <a asp-action="Odgovor" class="btn gumbic" asp-route-IdPosiljatelj="@item.IgracPosiljateljId"><i class="fas fa-reply" style='font-size:14px'></i> Odgovori</a>   
    <p style="text-align:left;font-size:smaller">Primljeno @Html.DisplayFor(modelItem => item.Vrijeme)</p> 

</div>

}