@model IEnumerable<Test10.Models.Oglas>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "IgracOglasi";
}
<style>
    body {
        background-image: url(/images/ball-court-design-209977123.jpg);
        background-size: cover;
    }

    .pspor {
        background-color: #3399ff;
        color:white;
        font-size:13px;
        transition-duration:0.4s;
        
    }
        .pspor:hover {
            color: #3399ff;
            background-color: white;
        }


    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

</style>
<body>
    <h2 style="color:white"><b>Oglasi</b></h2>

    <table class="table" id="tableOglas" style="background-color:white;border-radius: 10px">
        <thead>
            <tr style="font-weight: 900;color: #ffffff;background:#cc5200;border-radius: 10px">
                <th>
                    Teniski klub
                </th>
                <th>
                    Datum i vrijeme
                </th>
                <th>
                    Naslov
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>
                    Igrač
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeniskiKlub.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NazivOglas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Igrac.Ime)
                        @Html.DisplayFor(modelItem => item.Igrac.Prezime)
                    </td>
                    <td>

                        @if (item.IgracId != UserManager.GetUserId(User))
                        {
                            <a class="btn pspor" asp-action="Odgovor" asp-controller="Porukas" asp-route-IdPosiljatelj="@item.IgracId"><i class="fas fa-edit" style="font-size:15px"></i> Pošalji poruku</a>
                        }


                        <!--<a asp-action="Details" asp-route-id="@item.IdOglas">Details</a>-->

                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

